@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  background: #11171F;
  color: #ffff;
}


h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

 /* Buttons*/

.btn {
  @apply font-bold py-2 px-4 rounded;
}

.btn-gray {
  @apply bg-gray-900 text-white;
}

.btn-gray:hover {
  @apply bg-gray-800;
}

/* Line Clamping */
.video-span {
  grid-row: span 1;
}

.character-grid {
  justify-items: center;
}

.character-img {
  width: 150px;
  height: 180px;
}