@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  background: #11171F;
  color: #ffff;
}


h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

/* .slick-arrow {
  top: 0 !important;
}

.slick-prev {
  left: 0 !important;
  right: 40px !important;
}

.slick-next {
  right: 0 !important;
} */